@import 'sass-material-colors/sass/sass-material-colors'
@import 'sass-material-colors/sass/sass-material-colors-classes'

$background-color: white
$background-color-logger: material-color('grey', '50')
$error-color: material-color('red', 'a400')
$accent-color: material-color('teal', 'a400')

.color-white
    color: white

.color-black
    color: black

.error
    background-color: $error-color
    color: white
    font-size: 2em
    font-weight: 600
